<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>telusko.obtArchivo.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>telusko.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>telusko.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBD</servlet-name>
        <servlet-class>telusko.loginBD.LoginBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutBD</servlet-name>
        <servlet-class>telusko.loginBD.LogoutBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAlien</servlet-name>
        <servlet-class>telusko.nro26.getAlien</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBD</servlet-name>
        <url-pattern>/LoginBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutBD</servlet-name>
        <url-pattern>/LogoutBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAlien</servlet-name>
        <url-pattern>/getAlien</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
